In [2]:
# !git clone --recursive https://github.com/microsoft/LightGBM
import pandas as pd

In [30]:
df = pd.read_csv("scpppi/processed_data_l.csv")

In [31]:
df = df.drop(columns=["Unnamed: 0","datetime","granule_id"])

In [32]:
df["location"]

0        Los Angeles (SoCAB)
1        Los Angeles (SoCAB)
2        Los Angeles (SoCAB)
3        Los Angeles (SoCAB)
4        Los Angeles (SoCAB)
                ...
39445                  Delhi
39446                  Delhi
39447                  Delhi
39448                  Delhi
39449                  Delhi
Name: location, Length: 39450, dtype: object

In [33]:
df["datetime_dt"] = pd.to_datetime(df["datetime_dt"] )

In [34]:
def clean_df(df):
    df = df.drop(columns=["Unnamed: 0","datetime","granule_id"])
    df["datetime_dt"] = pd.to_datetime(df["datetime_dt"] )
    df["month"] = [i.month for i in df["datetime_dt"]]
    df["month"] = df["month"].astype(str).astype("category")
    one_hot = pd.get_dummies(df["month"])
    df = df.join(one_hot)
    df = df.drop('month',axis = 1)
    df = df.drop('date',axis = 1)
    one_hot = pd.get_dummies(df["location"])
    df = df.join(one_hot)
#     df = df.drop('location',axis = 1)
    one_hot = pd.get_dummies(df["grid_id"])
    df = df.join(one_hot)
    df = df.drop('grid_id',axis = 1)
    return df

In [35]:
df["month"] = [i.month for i in df["datetime_dt"]]

In [36]:
df["month"] = df["month"].astype(str).astype("category")

In [37]:
one_hot = pd.get_dummies(df["month"])
one_hot

       1  10  11  12  2  3  4  5  6  7  8  9
0      0   0   0   0  1  0  0  0  0  0  0  0
1      0   0   0   0  1  0  0  0  0  0  0  0
2      0   0   0   0  1  0  0  0  0  0  0  0
3      0   0   0   0  1  0  0  0  0  0  0  0
4      0   0   0   0  1  0  0  0  0  0  0  0
...   ..  ..  ..  .. .. .. .. .. .. .. .. ..
39445  0   0   0   0  0  0  1  0  0  0  0  0
39446  0   0   0   0  0  0  1  0  0  0  0  0
39447  0   0   0   0  0  0  1  0  0  0  0  0
39448  0   0   0   0  0  0  1  0  0  0  0  0
39449  1   0   0   0  0  0  0  0  0  0  0  0

[39450 rows x 12 columns]

In [38]:
df = df.join(one_hot)

In [39]:
df = df.drop('month',axis = 1)

In [40]:
df = df.drop('date',axis = 1)

In [41]:
one_hot = pd.get_dummies(df["location"])
df = df.join(one_hot)

In [42]:
# df

In [43]:
# df = df.drop('location',axis = 1)

In [44]:
df

,grid_id,value,datetime_dt,location,AOD at 0.47 micron_0,AOD at 0.47 micron_1,AOD at 0.47 micron_2,AOD at 0.47 micron_3,AOD at 0.47 micron_4,AOD at 0.47 micron_5,...,3,4,5,6,7,8,9,Delhi,Los Angeles (SoCAB),Taipei
0,3S31A,11.400000,2018-02-01 08:00:00+00:00,Los Angeles (SoCAB),-0.563344,0.109907,-0.103034,0.234161,-0.041027,0.229606,...,0,0,0,0,0,0,0,0,1,0
1,A2FBI,17.000000,2018-02-01 08:00:00+00:00,Los Angeles (SoCAB),-0.563344,0.109907,-0.103034,0.234161,-0.041027,0.229606,...,0,0,0,0,0,0,0,0,1,0
2,DJN0F,11.100000,2018-02-01 08:00:00+00:00,Los Angeles (SoCAB),-0.563344,0.109907,-0.103034,0.234161,-0.041027,0.229606,...,0,0,0,0,0,0,0,0,1,0
3,E5P9N,22.100000,2018-02-01 08:00:00+00:00,Los Angeles (SoCAB),-0.563344,0.109907,-0.103034,0.234161,-0.041027,0.229606,...,0,0,0,0,0,0,0,0,1,0
4,FRITQ,29.800000,2018-02-01 08:00:00+00:00,Los Angeles (SoCAB),-0.563344,0.109907,-0.103034,0.234161,-0.041027,0.229606,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39445,GVQXS,99.512500,2018-04-17 18:30:00+00:00,Delhi,-0.558915,0.114815,-0.115747,0.257394,-0.049393,0.243800,...,0,1,0,0,0,0,0,1,0,0
39446,GVQXS,101.068421,2018-04-18 18:30:00+00:00,Delhi,-0.559187,0.114805,-0.115720,0.257316,-0.049393,0.243815,...,0,1,0,0,0,0,0,1,0,0
39447,GVQXS,157.216667,2018-04-19 18:30:00+00:00,Delhi,-0.559288,0.114813,-0.115717,0.257326,-0.049380,0.243832,...,0,1,0,0,0,0,0,1,0,0
39448,GVQXS,149.870833,2018-04-25 18:30:00+00:00,Delhi,-0.559169,0.114806,-0.115722,0.257317,-0.049391,0.243812,...,0,1,0,0,0,0,0,1,0,0
39449,6EIL6,133.960000,2019-01-17 18:30:00+00:00,Delhi,-0.555606,0.114724,-0.116126,0.257139,-0.049551,0.243193,...,0,0,0,0,0,0,0,1,0,0

In [45]:
one_hot = pd.get_dummies(df["grid_id"])
df = df.join(one_hot)

In [46]:
df = df.drop('grid_id',axis = 1)

In [47]:
df.head()

,value,datetime_dt,location,AOD at 0.47 micron_0,AOD at 0.47 micron_1,AOD at 0.47 micron_2,AOD at 0.47 micron_3,AOD at 0.47 micron_4,AOD at 0.47 micron_5,AOD at 0.47 micron_6,...,VYH7U,WT52R,WZNCR,X5DKW,XJF9O,XNLVD,YHOPV,ZF3ZW,ZP1FZ,ZZ8JF
0,11.4,2018-02-01 08:00:00+00:00,Los Angeles (SoCAB),-0.563344,0.109907,-0.103034,0.234161,-0.041027,0.229606,-0.581547,...,0,0,0,0,0,0,0,0,0,0
1,17.0,2018-02-01 08:00:00+00:00,Los Angeles (SoCAB),-0.563344,0.109907,-0.103034,0.234161,-0.041027,0.229606,-0.581547,...,0,0,0,0,0,0,0,0,0,0
2,11.1,2018-02-01 08:00:00+00:00,Los Angeles (SoCAB),-0.563344,0.109907,-0.103034,0.234161,-0.041027,0.229606,-0.581547,...,0,0,0,0,0,0,0,0,0,0
3,22.1,2018-02-01 08:00:00+00:00,Los Angeles (SoCAB),-0.563344,0.109907,-0.103034,0.234161,-0.041027,0.229606,-0.581547,...,0,0,0,0,0,0,0,0,0,0
4,29.8,2018-02-01 08:00:00+00:00,Los Angeles (SoCAB),-0.563344,0.109907,-0.103034,0.234161,-0.041027,0.229606,-0.581547,...,0,0,0,0,0,0,0,0,0,0

In [48]:
# df = df[df["location"]=="Delhi"]
df = df.drop('location',axis = 1)

In [49]:
df

,value,datetime_dt,AOD at 0.47 micron_0,AOD at 0.47 micron_1,AOD at 0.47 micron_2,AOD at 0.47 micron_3,AOD at 0.47 micron_4,AOD at 0.47 micron_5,AOD at 0.47 micron_6,AOD at 0.47 micron_7,...,VYH7U,WT52R,WZNCR,X5DKW,XJF9O,XNLVD,YHOPV,ZF3ZW,ZP1FZ,ZZ8JF
0,11.400000,2018-02-01 08:00:00+00:00,-0.563344,0.109907,-0.103034,0.234161,-0.041027,0.229606,-0.581547,-0.097234,...,0,0,0,0,0,0,0,0,0,0
1,17.000000,2018-02-01 08:00:00+00:00,-0.563344,0.109907,-0.103034,0.234161,-0.041027,0.229606,-0.581547,-0.097234,...,0,0,0,0,0,0,0,0,0,0
2,11.100000,2018-02-01 08:00:00+00:00,-0.563344,0.109907,-0.103034,0.234161,-0.041027,0.229606,-0.581547,-0.097234,...,0,0,0,0,0,0,0,0,0,0
3,22.100000,2018-02-01 08:00:00+00:00,-0.563344,0.109907,-0.103034,0.234161,-0.041027,0.229606,-0.581547,-0.097234,...,0,0,0,0,0,0,0,0,0,0
4,29.800000,2018-02-01 08:00:00+00:00,-0.563344,0.109907,-0.103034,0.234161,-0.041027,0.229606,-0.581547,-0.097234,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39445,99.512500,2018-04-17 18:30:00+00:00,-0.558915,0.114815,-0.115747,0.257394,-0.049393,0.243800,-0.591163,-0.107679,...,0,0,0,0,0,0,0,0,0,0
39446,101.068421,2018-04-18 18:30:00+00:00,-0.559187,0.114805,-0.115720,0.257316,-0.049393,0.243815,-0.591383,-0.107631,...,0,0,0,0,0,0,0,0,0,0
39447,157.216667,2018-04-19 18:30:00+00:00,-0.559288,0.114813,-0.115717,0.257326,-0.049380,0.243832,-0.591478,-0.107641,...,0,0,0,0,0,0,0,0,0,0
39448,149.870833,2018-04-25 18:30:00+00:00,-0.559169,0.114806,-0.115722,0.257317,-0.049391,0.243812,-0.591365,-0.107633,...,0,0,0,0,0,0,0,0,0,0
39449,133.960000,2019-01-17 18:30:00+00:00,-0.555606,0.114724,-0.116126,0.257139,-0.049551,0.243193,-0.587944,-0.107578,...,0,0,0,0,0,0,0,0,0,0

In [50]:
X = df[df.columns[2:]].values

In [51]:
y = df["value"].values

In [52]:
X.shape

(39450, 2117)

In [53]:
import torch
import torch.optim as optim
import torch.nn as nn
from torch.utils.data import Dataset, TensorDataset, DataLoader
import pytorch_lightning as pl
from pytorch_lightning import Trainer
# from pytorch_lightning.profiler import Profiler, AdvancedProfiler

In [54]:
l_rate = 0.3
mse_loss = nn.MSELoss(reduction = 'mean')

In [55]:
class RegressionDataset(Dataset):
    
    def __init__(self, X_data, y_data):
        self.X_data = X_data
        self.y_data = y_data
        
    def __getitem__(self, index):
        return self.X_data[index], self.y_data[index]
        
    def __len__ (self):
        return len(self.X_data)

In [56]:
from sklearn.model_selection import train_test_split

In [64]:
X_train, X_test, y_train, y_test  = train_test_split(X, y, test_size=0.1, random_state=1)

X_train, X_val, y_train, y_val   = train_test_split(X_train, y_train, test_size=0.15, random_state=1) # 0.25 x 0.8 = 0.2

In [60]:
X.shape

(39450, 2117)

In [58]:
import lightgbm as lgb

In [238]:
params = {
        "objective": "regression",
        "metric": "rmse",
        "num_leaves": 50,
        "learning_rate": 0.05,
        "bagging_fraction": 0.7,
        "feature_fraction": 0.7,
        "bagging_frequency": 5,
        "bagging_seed": 2018,
        "verbosity": -1
    }

In [239]:
lgtrain = lgb.Dataset(X_train, label=y_train)
lgval = lgb.Dataset(X_val, label=y_val)

In [240]:
evals_result = {}
model = lgb.train(params, lgtrain, 10000, valid_sets=[lgval], early_stopping_rounds=100, verbose_eval=20,  evals_result=evals_result)

Training until validation scores don't improve for 100 rounds
[20]	valid_0's rmse: 38.8107
[40]	valid_0's rmse: 29.817
[60]	valid_0's rmse: 27.3049
[80]	valid_0's rmse: 26.2804
[100]	valid_0's rmse: 25.8553
[120]	valid_0's rmse: 25.5383
[140]	valid_0's rmse: 25.3639
[160]	valid_0's rmse: 25.271
[180]	valid_0's rmse: 25.1774
[200]	valid_0's rmse: 25.1394
[220]	valid_0's rmse: 25.0521
[240]	valid_0's rmse: 25.0215
[260]	valid_0's rmse: 25.0051
[280]	valid_0's rmse: 24.9948
[300]	valid_0's rmse: 25.0064
[320]	valid_0's rmse: 24.9859
[340]	valid_0's rmse: 24.9718
[360]	valid_0's rmse: 25.01
[380]	valid_0's rmse: 25.0539
[400]	valid_0's rmse: 25.0726
Early stopping, best iteration is:
[312]	valid_0's rmse: 24.9529

In [ ]:
pred_test_y = model.predict(X_test, num_iteration=model.best_iteration)

In [241]:
mse = mean_squared_error(y_test, pred_test_y)
r_square = r2_score(y_test, pred_test_y)
print("Mean Squared Error :",mse)
print("R^2 :",r_square)

Mean Squared Error : 408.39641444188425
R^2 : 0.929622396026478

In [218]:
# Mean Squared Error : 413.5129395125129
# R^2 : 0.9287406821758963

In [242]:
X_t.shape

(15999, 2117)

In [ ]:
Mean Squared Error : 408.39641444188425
R^2 : 0.929622396026478

In [243]:
y_p = model.predict(X_t, num_iteration=model.best_iteration)

In [244]:
y_p.shape

(15999,)

In [180]:
from sklearn.preprocessing import MinMaxScaler

In [181]:
# scaler = MinMaxScaler()
# X_train = scaler.fit_transform(X_train)
# X_val = scaler.transform(X_val)
# X_test = scaler.transform(X_test)
# X_train, y_train = np.array(X_train), np.array(y_train)
# X_val, y_val = np.array(X_val), np.array(y_val)
# X_test, y_test = np.array(X_test), np.array(y_test)

In [182]:
train_dataset = RegressionDataset(torch.from_numpy(X_train).float(), torch.from_numpy(y_train).float())
val_dataset = RegressionDataset(torch.from_numpy(X_val).float(), torch.from_numpy(y_val).float())
test_dataset = RegressionDataset(torch.from_numpy(X_test).float(), torch.from_numpy(y_test).float())

In [183]:
EPOCHS = 150
BATCH_SIZE = 64
LEARNING_RATE = 0.001
NUM_FEATURES = X.shape[1]

In [184]:
train_loader = DataLoader(dataset=train_dataset, batch_size=BATCH_SIZE, shuffle=True)
val_loader = DataLoader(dataset=val_dataset, batch_size=1)
test_loader = DataLoader(dataset=test_dataset, batch_size=1)

In [185]:
NUM_FEATURES

2117

In [186]:
device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")
device

device(type='cuda', index=0)

In [187]:
model = Regression(NUM_FEATURES)
model.to(device)

Regression(
  (fc1): Linear(in_features=2117, out_features=1024, bias=True)
  (fc2): Linear(in_features=1024, out_features=512, bias=True)
  (fc3): Linear(in_features=512, out_features=256, bias=True)
  (fc4): Linear(in_features=256, out_features=128, bias=True)
  (fc5): Linear(in_features=128, out_features=64, bias=True)
  (f): Linear(in_features=64, out_features=1, bias=True)
  (activation): LeakyReLU(negative_slope=0.01)
)

In [188]:
criterion = nn.MSELoss()
optimizer = optim.Adam(model.parameters(), lr=LEARNING_RATE)

In [189]:
loss_stats = {
    'train': [],
    "val": []
}

In [190]:
from tqdm import tqdm

In [191]:
print("Begin training.")
for e in tqdm(range(1, EPOCHS+1)):
    
    # TRAINING
    train_epoch_loss = 0
    model.train()
    for X_train_batch, y_train_batch in train_loader:
        X_train_batch, y_train_batch = X_train_batch.to(device), y_train_batch.to(device)
        optimizer.zero_grad()
        
        y_train_pred = model(X_train_batch)
        
        train_loss = criterion(y_train_pred, y_train_batch.unsqueeze(1))
        
        train_loss.backward()
        optimizer.step()
        
        train_epoch_loss += train_loss.item()
        
        
    # VALIDATION    
    with torch.no_grad():
        
        val_epoch_loss = 0
        
        model.eval()
        for X_val_batch, y_val_batch in val_loader:
            X_val_batch, y_val_batch = X_val_batch.to(device), y_val_batch.to(device)
            
            y_val_pred = model(X_val_batch)
                        
            val_loss = criterion(y_val_pred, y_val_batch.unsqueeze(1))
            
            val_epoch_loss += val_loss.item()
    loss_stats['train'].append(train_epoch_loss/len(train_loader))
    loss_stats['val'].append(val_epoch_loss/len(val_loader))                              
    
    print(f'Epoch {e+0:03}: | Train Loss: {train_epoch_loss/len(train_loader):.5f} | Val Loss: {val_epoch_loss/len(val_loader):.5f}')

Begin training.

  1% 1/150 [00:01<04:16,  1.72s/it]

Epoch 001: | Train Loss: 7227.42985 | Val Loss: 5575.61266

  1% 2/150 [00:03<04:17,  1.74s/it]

Epoch 002: | Train Loss: 4890.54074 | Val Loss: 5327.98538

  2% 3/150 [00:05<04:16,  1.75s/it]

Epoch 003: | Train Loss: 4033.72736 | Val Loss: 3658.65653

  3% 4/150 [00:06<04:13,  1.74s/it]

Epoch 004: | Train Loss: 4025.90931 | Val Loss: 4579.70763

  3% 5/150 [00:08<04:08,  1.72s/it]

Epoch 005: | Train Loss: 3903.03074 | Val Loss: 3498.95450

  4% 6/150 [00:10<04:04,  1.70s/it]

Epoch 006: | Train Loss: 3694.50510 | Val Loss: 3736.07714

  5% 7/150 [00:11<04:01,  1.69s/it]

Epoch 007: | Train Loss: 3633.50824 | Val Loss: 4028.13607

  5% 8/150 [00:13<03:59,  1.68s/it]

Epoch 008: | Train Loss: 3385.44046 | Val Loss: 3323.87411

  6% 9/150 [00:15<03:59,  1.70s/it]

Epoch 009: | Train Loss: 3470.66108 | Val Loss: 3249.53427

  7% 10/150 [00:17<03:56,  1.69s/it]

Epoch 010: | Train Loss: 3350.11014 | Val Loss: 3039.30879

  7% 11/150 [00:18<03:53,  1.68s/it]

Epoch 011: | Train Loss: 3410.06369 | Val Loss: 3128.10050

  8% 12/150 [00:20<03:54,  1.70s/it]

Epoch 012: | Train Loss: 3227.42320 | Val Loss: 3025.55300

  9% 13/150 [00:22<03:53,  1.70s/it]

Epoch 013: | Train Loss: 3158.31962 | Val Loss: 3288.78748

  9% 14/150 [00:23<03:52,  1.71s/it]

Epoch 014: | Train Loss: 3118.41430 | Val Loss: 3709.44889

 10% 15/150 [00:25<03:51,  1.71s/it]

Epoch 015: | Train Loss: 3125.84665 | Val Loss: 3218.62651

 11% 16/150 [00:27<03:50,  1.72s/it]

Epoch 016: | Train Loss: 3041.38789 | Val Loss: 2650.90270

 11% 17/150 [00:29<03:48,  1.71s/it]

Epoch 017: | Train Loss: 2826.87113 | Val Loss: 3494.42522

 12% 18/150 [00:30<03:46,  1.72s/it]

Epoch 018: | Train Loss: 2889.17157 | Val Loss: 2652.06107

 13% 19/150 [00:32<03:44,  1.71s/it]

Epoch 019: | Train Loss: 2762.04765 | Val Loss: 2987.39746

 13% 20/150 [00:34<03:42,  1.71s/it]

Epoch 020: | Train Loss: 2723.82236 | Val Loss: 2521.79207

 14% 21/150 [00:35<03:40,  1.71s/it]

Epoch 021: | Train Loss: 2534.27428 | Val Loss: 2971.02495

 15% 22/150 [00:37<03:39,  1.72s/it]

Epoch 022: | Train Loss: 2623.47710 | Val Loss: 2496.10849

 15% 23/150 [00:39<03:38,  1.72s/it]

Epoch 023: | Train Loss: 2490.46367 | Val Loss: 2433.12481

 16% 24/150 [00:41<03:37,  1.72s/it]

Epoch 024: | Train Loss: 2487.21178 | Val Loss: 2607.53523

 17% 25/150 [00:42<03:34,  1.71s/it]

Epoch 025: | Train Loss: 2561.33041 | Val Loss: 2303.70700

 17% 26/150 [00:44<03:32,  1.71s/it]

Epoch 026: | Train Loss: 2393.92008 | Val Loss: 2042.71392

 18% 27/150 [00:46<03:30,  1.71s/it]

Epoch 027: | Train Loss: 2370.83188 | Val Loss: 2075.67780

 19% 28/150 [00:47<03:30,  1.73s/it]

Epoch 028: | Train Loss: 2432.35971 | Val Loss: 2255.46447

 19% 29/150 [00:49<03:31,  1.75s/it]

Epoch 029: | Train Loss: 2267.34974 | Val Loss: 2855.33674

 20% 30/150 [00:51<03:29,  1.74s/it]

Epoch 030: | Train Loss: 2288.47584 | Val Loss: 2102.63607

 21% 31/150 [00:53<03:25,  1.73s/it]

Epoch 031: | Train Loss: 2146.87891 | Val Loss: 2098.86953

 21% 32/150 [00:54<03:24,  1.73s/it]

Epoch 032: | Train Loss: 2159.44278 | Val Loss: 1974.41382

 22% 33/150 [00:56<03:21,  1.72s/it]

Epoch 033: | Train Loss: 2289.58941 | Val Loss: 2067.98882

 23% 34/150 [00:58<03:19,  1.72s/it]

Epoch 034: | Train Loss: 2092.29618 | Val Loss: 2253.52509

 23% 35/150 [01:00<03:16,  1.71s/it]

Epoch 035: | Train Loss: 2128.67318 | Val Loss: 2127.07213

 24% 36/150 [01:01<03:15,  1.72s/it]

Epoch 036: | Train Loss: 2014.89207 | Val Loss: 1784.56718

 25% 37/150 [01:03<03:13,  1.71s/it]

Epoch 037: | Train Loss: 2064.90235 | Val Loss: 1920.35839

 25% 38/150 [01:05<03:11,  1.71s/it]

Epoch 038: | Train Loss: 1945.40535 | Val Loss: 1815.00875

 26% 39/150 [01:06<03:08,  1.70s/it]

Epoch 039: | Train Loss: 1971.28608 | Val Loss: 1731.01009

 27% 40/150 [01:08<03:06,  1.70s/it]

Epoch 040: | Train Loss: 2101.39517 | Val Loss: 1915.11279

 27% 41/150 [01:10<03:03,  1.69s/it]

Epoch 041: | Train Loss: 1926.64416 | Val Loss: 1747.16414

 28% 42/150 [01:11<03:02,  1.69s/it]

Epoch 042: | Train Loss: 1873.10753 | Val Loss: 1785.02128

 29% 43/150 [01:13<03:00,  1.68s/it]

Epoch 043: | Train Loss: 1885.64952 | Val Loss: 2197.65049

 29% 44/150 [01:15<02:58,  1.69s/it]

Epoch 044: | Train Loss: 1801.45290 | Val Loss: 2208.32568

 30% 45/150 [01:16<02:55,  1.68s/it]

Epoch 045: | Train Loss: 1839.99275 | Val Loss: 1899.06810

 31% 46/150 [01:18<02:54,  1.68s/it]

Epoch 046: | Train Loss: 1889.82008 | Val Loss: 1708.49337

 31% 47/150 [01:20<02:52,  1.68s/it]

Epoch 047: | Train Loss: 1814.30088 | Val Loss: 1592.00915

 32% 48/150 [01:21<02:50,  1.67s/it]

Epoch 048: | Train Loss: 1785.72398 | Val Loss: 1500.18348

 33% 49/150 [01:23<02:43,  1.62s/it]

Epoch 049: | Train Loss: 1790.72585 | Val Loss: 1663.24038

 33% 50/150 [01:25<02:44,  1.65s/it]

Epoch 050: | Train Loss: 1710.42240 | Val Loss: 1489.19080

 34% 51/150 [01:26<02:45,  1.67s/it]

Epoch 051: | Train Loss: 1880.16403 | Val Loss: 1947.90418

 35% 52/150 [01:28<02:45,  1.69s/it]

Epoch 052: | Train Loss: 1720.17219 | Val Loss: 1587.47753

 35% 53/150 [01:30<02:44,  1.70s/it]

Epoch 053: | Train Loss: 1612.28001 | Val Loss: 1689.93643

 36% 54/150 [01:32<02:43,  1.71s/it]

Epoch 054: | Train Loss: 1632.68551 | Val Loss: 1579.64995

 37% 55/150 [01:33<02:42,  1.71s/it]

Epoch 055: | Train Loss: 1641.37660 | Val Loss: 2997.92040

 37% 56/150 [01:35<02:41,  1.71s/it]

Epoch 056: | Train Loss: 1713.75889 | Val Loss: 1597.69281

 38% 57/150 [01:37<02:39,  1.71s/it]

Epoch 057: | Train Loss: 1606.85717 | Val Loss: 1524.05356

 39% 58/150 [01:38<02:37,  1.71s/it]

Epoch 058: | Train Loss: 1504.72207 | Val Loss: 1475.96244

 39% 59/150 [01:40<02:36,  1.72s/it]

Epoch 059: | Train Loss: 1639.42012 | Val Loss: 1651.47431

 40% 60/150 [01:42<02:35,  1.73s/it]

Epoch 060: | Train Loss: 1659.88649 | Val Loss: 1610.31273

 41% 61/150 [01:44<02:34,  1.73s/it]

Epoch 061: | Train Loss: 1593.32307 | Val Loss: 1687.08159

 41% 62/150 [01:45<02:32,  1.73s/it]

Epoch 062: | Train Loss: 1614.96247 | Val Loss: 1967.59211

 42% 63/150 [01:47<02:31,  1.74s/it]

Epoch 063: | Train Loss: 1579.12272 | Val Loss: 1648.94067

 43% 64/150 [01:49<02:29,  1.74s/it]

Epoch 064: | Train Loss: 1476.03007 | Val Loss: 1403.61885

 43% 65/150 [01:51<02:27,  1.74s/it]

Epoch 065: | Train Loss: 1542.92550 | Val Loss: 1603.64263

 44% 66/150 [01:52<02:25,  1.74s/it]

Epoch 066: | Train Loss: 1510.30041 | Val Loss: 1491.43234

 45% 67/150 [01:54<02:23,  1.73s/it]

Epoch 067: | Train Loss: 1523.19067 | Val Loss: 1406.08824

 45% 68/150 [01:56<02:22,  1.73s/it]

Epoch 068: | Train Loss: 1442.23204 | Val Loss: 1497.91026

 46% 69/150 [01:57<02:20,  1.73s/it]

Epoch 069: | Train Loss: 1411.93520 | Val Loss: 1612.67170

 47% 70/150 [01:59<02:18,  1.73s/it]

Epoch 070: | Train Loss: 1524.27299 | Val Loss: 1371.55618

 47% 71/150 [02:01<02:16,  1.73s/it]

Epoch 071: | Train Loss: 1415.85651 | Val Loss: 1406.53797

 48% 72/150 [02:03<02:14,  1.73s/it]

Epoch 072: | Train Loss: 1414.09448 | Val Loss: 1321.63250

 49% 73/150 [02:04<02:12,  1.73s/it]

Epoch 073: | Train Loss: 1389.73770 | Val Loss: 1398.05833

 49% 74/150 [02:06<02:11,  1.73s/it]

Epoch 074: | Train Loss: 1483.77908 | Val Loss: 1447.57728

 50% 75/150 [02:08<02:09,  1.73s/it]

Epoch 075: | Train Loss: 1376.97019 | Val Loss: 1642.18251

 51% 76/150 [02:10<02:07,  1.72s/it]

Epoch 076: | Train Loss: 1401.14749 | Val Loss: 1357.35004

 51% 77/150 [02:11<02:05,  1.73s/it]

Epoch 077: | Train Loss: 1369.52773 | Val Loss: 1681.34702

 52% 78/150 [02:13<02:03,  1.72s/it]

Epoch 078: | Train Loss: 1482.63198 | Val Loss: 1446.85582

 53% 79/150 [02:15<02:02,  1.73s/it]

Epoch 079: | Train Loss: 1383.17760 | Val Loss: 1936.83943

 53% 80/150 [02:16<02:00,  1.72s/it]

Epoch 080: | Train Loss: 1300.06398 | Val Loss: 1485.51905

 54% 81/150 [02:18<01:58,  1.72s/it]

Epoch 081: | Train Loss: 1351.18262 | Val Loss: 1248.22207

 55% 82/150 [02:20<01:57,  1.73s/it]

Epoch 082: | Train Loss: 1347.31509 | Val Loss: 1505.10455

 55% 83/150 [02:22<01:55,  1.73s/it]

Epoch 083: | Train Loss: 1314.28650 | Val Loss: 1333.24738

 56% 84/150 [02:23<01:53,  1.72s/it]

Epoch 084: | Train Loss: 1308.51052 | Val Loss: 1373.62263

 57% 85/150 [02:25<01:50,  1.70s/it]

Epoch 085: | Train Loss: 1305.70523 | Val Loss: 1361.91432

 57% 86/150 [02:27<01:48,  1.70s/it]

Epoch 086: | Train Loss: 1259.30184 | Val Loss: 1524.39335

 58% 87/150 [02:28<01:47,  1.70s/it]

Epoch 087: | Train Loss: 1340.55674 | Val Loss: 1521.85600

 59% 88/150 [02:30<01:45,  1.70s/it]

Epoch 088: | Train Loss: 1314.37700 | Val Loss: 2431.46099

 59% 89/150 [02:32<01:43,  1.70s/it]

Epoch 089: | Train Loss: 1307.59582 | Val Loss: 1557.88557

 60% 90/150 [02:34<01:42,  1.71s/it]

Epoch 090: | Train Loss: 1327.86433 | Val Loss: 1379.00441

 61% 91/150 [02:35<01:40,  1.71s/it]

Epoch 091: | Train Loss: 1205.45289 | Val Loss: 1729.66971

 61% 92/150 [02:37<01:39,  1.71s/it]

Epoch 092: | Train Loss: 1228.35711 | Val Loss: 1431.91046

 62% 93/150 [02:39<01:37,  1.72s/it]

Epoch 093: | Train Loss: 1207.93090 | Val Loss: 1456.79442

 63% 94/150 [02:40<01:36,  1.72s/it]

Epoch 094: | Train Loss: 1239.40918 | Val Loss: 1266.83372

 63% 95/150 [02:42<01:34,  1.72s/it]

Epoch 095: | Train Loss: 1278.33154 | Val Loss: 1405.38175

 64% 96/150 [02:44<01:32,  1.72s/it]

Epoch 096: | Train Loss: 1231.41957 | Val Loss: 1454.22784

 65% 97/150 [02:46<01:31,  1.72s/it]

Epoch 097: | Train Loss: 1247.74532 | Val Loss: 1258.50507

 65% 98/150 [02:47<01:29,  1.71s/it]

Epoch 098: | Train Loss: 1172.88240 | Val Loss: 1333.06215

 66% 99/150 [02:49<01:27,  1.71s/it]

Epoch 099: | Train Loss: 1262.98969 | Val Loss: 1452.95547

 67% 100/150 [02:51<01:23,  1.67s/it]

Epoch 100: | Train Loss: 1175.21380 | Val Loss: 1280.97695

 67% 101/150 [02:52<01:22,  1.68s/it]

Epoch 101: | Train Loss: 1131.54872 | Val Loss: 1388.56638

 68% 102/150 [02:54<01:21,  1.69s/it]

Epoch 102: | Train Loss: 1232.98813 | Val Loss: 1410.26838

 69% 103/150 [02:56<01:19,  1.70s/it]

Epoch 103: | Train Loss: 1171.04392 | Val Loss: 1392.23862

 69% 104/150 [02:57<01:16,  1.66s/it]

Epoch 104: | Train Loss: 1117.59096 | Val Loss: 1530.40919

 70% 105/150 [02:59<01:16,  1.70s/it]

Epoch 105: | Train Loss: 1211.14790 | Val Loss: 1298.26027

 71% 106/150 [03:01<01:14,  1.70s/it]

Epoch 106: | Train Loss: 1161.01978 | Val Loss: 1792.45336

 71% 107/150 [03:02<01:13,  1.71s/it]

Epoch 107: | Train Loss: 1259.27871 | Val Loss: 1212.73886

 72% 108/150 [03:04<01:12,  1.72s/it]

Epoch 108: | Train Loss: 1137.61488 | Val Loss: 1184.74792

 73% 109/150 [03:06<01:10,  1.71s/it]

Epoch 109: | Train Loss: 1169.07785 | Val Loss: 1381.46128

 73% 110/150 [03:08<01:08,  1.72s/it]

Epoch 110: | Train Loss: 1118.77868 | Val Loss: 1259.65646

 74% 111/150 [03:09<01:06,  1.71s/it]

Epoch 111: | Train Loss: 1082.28391 | Val Loss: 1289.86932

 75% 112/150 [03:11<01:04,  1.71s/it]

Epoch 112: | Train Loss: 1171.08608 | Val Loss: 1297.99337

 75% 113/150 [03:13<01:03,  1.71s/it]

Epoch 113: | Train Loss: 1149.37028 | Val Loss: 1207.73458

 76% 114/150 [03:14<01:01,  1.71s/it]

Epoch 114: | Train Loss: 1074.11078 | Val Loss: 1307.03900

 77% 115/150 [03:16<00:59,  1.71s/it]

Epoch 115: | Train Loss: 1086.72497 | Val Loss: 1358.39569

 77% 116/150 [03:18<00:58,  1.71s/it]

Epoch 116: | Train Loss: 1175.95306 | Val Loss: 1930.41063

 78% 117/150 [03:20<00:56,  1.71s/it]

Epoch 117: | Train Loss: 1142.74687 | Val Loss: 1206.01504

 79% 118/150 [03:21<00:54,  1.71s/it]

Epoch 118: | Train Loss: 985.70754 | Val Loss: 1271.04233

 79% 119/150 [03:23<00:53,  1.71s/it]

Epoch 119: | Train Loss: 1093.29077 | Val Loss: 1537.81003

 80% 120/150 [03:25<00:51,  1.71s/it]

Epoch 120: | Train Loss: 1154.85226 | Val Loss: 1859.65232

 81% 121/150 [03:26<00:49,  1.71s/it]

Epoch 121: | Train Loss: 1208.87172 | Val Loss: 1378.10087

 81% 122/150 [03:28<00:47,  1.71s/it]

Epoch 122: | Train Loss: 1071.68715 | Val Loss: 1331.13879

 82% 123/150 [03:30<00:46,  1.71s/it]

Epoch 123: | Train Loss: 1050.45804 | Val Loss: 1907.73481

 83% 124/150 [03:32<00:44,  1.71s/it]

Epoch 124: | Train Loss: 1083.15605 | Val Loss: 1199.16871

 83% 125/150 [03:33<00:42,  1.71s/it]

Epoch 125: | Train Loss: 940.67883 | Val Loss: 1368.24530

 84% 126/150 [03:35<00:41,  1.71s/it]

Epoch 126: | Train Loss: 1006.52707 | Val Loss: 1325.24520

 85% 127/150 [03:37<00:39,  1.71s/it]

Epoch 127: | Train Loss: 1325.54357 | Val Loss: 1463.91158

 85% 128/150 [03:38<00:37,  1.71s/it]

Epoch 128: | Train Loss: 1283.37222 | Val Loss: 1281.68410

 86% 129/150 [03:40<00:35,  1.71s/it]

Epoch 129: | Train Loss: 991.96832 | Val Loss: 1308.53004

 87% 130/150 [03:42<00:34,  1.71s/it]

Epoch 130: | Train Loss: 898.33538 | Val Loss: 1160.25364

 87% 131/150 [03:43<00:32,  1.71s/it]

Epoch 131: | Train Loss: 1029.74475 | Val Loss: 1346.36967

 88% 132/150 [03:45<00:30,  1.71s/it]

Epoch 132: | Train Loss: 1336.85700 | Val Loss: 1257.05421

 89% 133/150 [03:47<00:29,  1.71s/it]

Epoch 133: | Train Loss: 1175.27422 | Val Loss: 1413.89675

 89% 134/150 [03:49<00:27,  1.71s/it]

Epoch 134: | Train Loss: 1006.32683 | Val Loss: 1575.45629

 90% 135/150 [03:50<00:25,  1.71s/it]

Epoch 135: | Train Loss: 897.06277 | Val Loss: 1405.45574

 91% 136/150 [03:52<00:23,  1.71s/it]

Epoch 136: | Train Loss: 1025.80621 | Val Loss: 1409.93304

 91% 137/150 [03:54<00:22,  1.71s/it]

Epoch 137: | Train Loss: 1265.68323 | Val Loss: 1604.19225

 92% 138/150 [03:55<00:20,  1.71s/it]

Epoch 138: | Train Loss: 1193.32979 | Val Loss: 1144.49693

 93% 139/150 [03:57<00:18,  1.71s/it]

Epoch 139: | Train Loss: 1029.19094 | Val Loss: 1407.32735

 93% 140/150 [03:59<00:17,  1.72s/it]

Epoch 140: | Train Loss: 925.01874 | Val Loss: 1424.71880

 94% 141/150 [04:01<00:15,  1.71s/it]

Epoch 141: | Train Loss: 1034.91097 | Val Loss: 1162.28806

 95% 142/150 [04:02<00:13,  1.71s/it]

Epoch 142: | Train Loss: 1098.58609 | Val Loss: 1816.74697

 95% 143/150 [04:04<00:11,  1.71s/it]

Epoch 143: | Train Loss: 862.08654 | Val Loss: 1310.14845

 96% 144/150 [04:06<00:10,  1.71s/it]

Epoch 144: | Train Loss: 833.59282 | Val Loss: 1302.77440

 97% 145/150 [04:07<00:08,  1.71s/it]

Epoch 145: | Train Loss: 997.41261 | Val Loss: 1251.06335

 97% 146/150 [04:09<00:06,  1.72s/it]

Epoch 146: | Train Loss: 812.68040 | Val Loss: 1554.31437

 98% 147/150 [04:11<00:05,  1.71s/it]

Epoch 147: | Train Loss: 797.56213 | Val Loss: 1633.21470

 99% 148/150 [04:13<00:03,  1.71s/it]

Epoch 148: | Train Loss: 1139.89904 | Val Loss: 1227.20897

 99% 149/150 [04:14<00:01,  1.71s/it]

Epoch 149: | Train Loss: 1023.03424 | Val Loss: 1379.51175

100% 150/150 [04:16<00:00,  1.71s/it]

Epoch 150: | Train Loss: 1360.47821 | Val Loss: 1315.25268

In [192]:
1+1

2

In [193]:
y_pred_list = []
with torch.no_grad():
    model.eval()
    for X_batch, _ in test_loader:
        X_batch = X_batch.to(device)
        y_test_pred = model(X_batch)
        y_pred_list.append(y_test_pred.cpu().numpy())
y_pred_list = [a.squeeze().tolist() for a in y_pred_list]

In [245]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [246]:
mse = mean_squared_error(y_test, y_pred_list)
r_square = r2_score(y_test, y_pred_list)
print("Mean Squared Error :",mse)
print("R^2 :",r_square)

NameError: name 'y_pred_list' is not defined

In [ ]:
# Mean Squared Error : 907.6883032426905
# R^2 : 0.8434949212954438

# Mean Squared Error : 604.0072439588212
# R^2 : 0.8958560984908686

In [101]:
import numpy as np

In [ ]:
train_dataset = RegressionDataset(torch.from_numpy(X_train).float(), torch.from_numpy(y_train).float())

In [129]:
df_testi['7F1D1'] = np.zeros(len(df_testi))
df_testi['WZNCR'] = np.zeros(len(df_testi))

In [120]:
df_testi = df_testi[df.columns]

In [121]:
df_test.drop_duplicates()

,Unnamed: 0,datetime,grid_id,value,datetime_dt,location,date,granule_id,AOD at 0.47 micron_0,AOD at 0.47 micron_1,...,cosine of Solar Zenith Angle_246,cosine of Solar Zenith Angle_247,cosine of Solar Zenith Angle_248,cosine of Solar Zenith Angle_249,cosine of Solar Zenith Angle_250,cosine of Solar Zenith Angle_251,cosine of Solar Zenith Angle_252,cosine of Solar Zenith Angle_253,cosine of Solar Zenith Angle_254,cosine of Solar Zenith Angle_255
0,0,2017-01-07T16:00:00Z,1X116,0.0,2017-01-07 16:00:00+00:00,Taipei,2017-01-07,20170107T032000_maiac_tpe_0.hdf,-0.552611,0.114593,...,0.514868,0.139191,0.183938,-1.667788,-0.356834,2.620512,0.295454,-0.233992,0.197363,0.768304
1,1,2017-01-07T16:00:00Z,9Q6TA,0.0,2017-01-07 16:00:00+00:00,Taipei,2017-01-07,20170107T032000_maiac_tpe_0.hdf,-0.552611,0.114593,...,0.514868,0.139191,0.183938,-1.667788,-0.356834,2.620512,0.295454,-0.233992,0.197363,0.768304
2,2,2017-01-07T16:00:00Z,KW43U,0.0,2017-01-07 16:00:00+00:00,Taipei,2017-01-07,20170107T032000_maiac_tpe_0.hdf,-0.552611,0.114593,...,0.514868,0.139191,0.183938,-1.667788,-0.356834,2.620512,0.295454,-0.233992,0.197363,0.768304
3,3,2017-01-07T16:00:00Z,VR4WG,0.0,2017-01-07 16:00:00+00:00,Taipei,2017-01-07,20170107T032000_maiac_tpe_0.hdf,-0.552611,0.114593,...,0.514868,0.139191,0.183938,-1.667788,-0.356834,2.620512,0.295454,-0.233992,0.197363,0.768304
4,4,2017-01-07T16:00:00Z,XJF9O,0.0,2017-01-07 16:00:00+00:00,Taipei,2017-01-07,20170107T032000_maiac_tpe_0.hdf,-0.552611,0.114593,...,0.514868,0.139191,0.183938,-1.667788,-0.356834,2.620512,0.295454,-0.233992,0.197363,0.768304
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15994,15994,2021-06-05T18:30:00Z,YHOPV,0.0,2021-06-05 18:30:00+00:00,Delhi,2021-06-05,20210605T071000_maiac_dl_0.hdf,-0.561104,0.114857,...,0.282401,0.094115,0.101234,-0.598972,-0.056394,-0.085390,0.155456,0.061431,0.139627,0.156484
15995,15995,2021-06-05T18:30:00Z,ZF3ZW,0.0,2021-06-05 18:30:00+00:00,Delhi,2021-06-05,20210605T071000_maiac_dl_0.hdf,-0.561104,0.114857,...,0.282401,0.094115,0.101234,-0.598972,-0.056394,-0.085390,0.155456,0.061431,0.139627,0.156484
15996,15996,2021-06-05T18:30:00Z,GVQXS,0.0,2021-06-05 18:30:00+00:00,Delhi,2021-06-05,20210605T071000_maiac_dl_0.hdf,-0.561104,0.114857,...,0.282401,0.094115,0.101234,-0.598972,-0.056394,-0.085390,0.155456,0.061431,0.139627,0.156484
15997,15997,2021-06-17T18:30:00Z,A7UCQ,0.0,2021-06-17 18:30:00+00:00,Delhi,2021-06-17,20210617T060000_maiac_dl_0.hdf,-0.556475,0.114697,...,0.364079,0.141253,0.068522,-1.220975,-0.168101,1.756613,0.158490,0.021657,0.110188,0.200711
15998,15998,2021-04-11T18:30:00Z,GJLB2,0.0,2021-04-11 18:30:00+00:00,Delhi,2021-04-11,20210411T070500_maiac_dl_0.hdf,-0.556702,0.114758,...,0.559139,0.184912,0.162346,-2.739183,-0.605774,3.593384,0.308225,-0.423955,0.171615,1.109442

In [122]:
df_testi = clean_df(df_test)

In [123]:
# df_testi = df_testi[df_testi["location"]=="Delhi"]

In [124]:
df_testi

,value,datetime_dt,location,AOD at 0.47 micron_0,AOD at 0.47 micron_1,AOD at 0.47 micron_2,AOD at 0.47 micron_3,AOD at 0.47 micron_4,AOD at 0.47 micron_5,AOD at 0.47 micron_6,...,VXNN3,VYH7U,WT52R,X5DKW,XJF9O,XNLVD,YHOPV,ZF3ZW,ZP1FZ,ZZ8JF
0,0.0,2017-01-07 16:00:00+00:00,Taipei,-0.552611,0.114593,-0.116292,0.256839,-0.049796,0.242716,-0.585104,...,0,0,0,0,0,0,0,0,0,0
1,0.0,2017-01-07 16:00:00+00:00,Taipei,-0.552611,0.114593,-0.116292,0.256839,-0.049796,0.242716,-0.585104,...,0,0,0,0,0,0,0,0,0,0
2,0.0,2017-01-07 16:00:00+00:00,Taipei,-0.552611,0.114593,-0.116292,0.256839,-0.049796,0.242716,-0.585104,...,0,0,0,0,0,0,0,0,0,0
3,0.0,2017-01-07 16:00:00+00:00,Taipei,-0.552611,0.114593,-0.116292,0.256839,-0.049796,0.242716,-0.585104,...,0,0,0,0,0,0,0,0,0,0
4,0.0,2017-01-07 16:00:00+00:00,Taipei,-0.552611,0.114593,-0.116292,0.256839,-0.049796,0.242716,-0.585104,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15994,0.0,2021-06-05 18:30:00+00:00,Delhi,-0.561104,0.114857,-0.115555,0.257440,-0.049277,0.244174,-0.593226,...,0,0,0,0,0,0,1,0,0,0
15995,0.0,2021-06-05 18:30:00+00:00,Delhi,-0.561104,0.114857,-0.115555,0.257440,-0.049277,0.244174,-0.593226,...,0,0,0,0,0,0,0,1,0,0
15996,0.0,2021-06-05 18:30:00+00:00,Delhi,-0.561104,0.114857,-0.115555,0.257440,-0.049277,0.244174,-0.593226,...,0,0,0,0,0,0,0,0,0,0
15997,0.0,2021-06-17 18:30:00+00:00,Delhi,-0.556475,0.114697,-0.116058,0.256996,-0.049477,0.243355,-0.588765,...,0,0,0,0,0,0,0,0,0,0
15998,0.0,2021-04-11 18:30:00+00:00,Delhi,-0.556702,0.114758,-0.116034,0.257136,-0.049515,0.243378,-0.589021,...,0,0,0,0,0,0,0,0,0,0

In [125]:
df_testi = df_testi.drop(columns = ["location"])

In [130]:
df_testi

,value,datetime_dt,AOD at 0.47 micron_0,AOD at 0.47 micron_1,AOD at 0.47 micron_2,AOD at 0.47 micron_3,AOD at 0.47 micron_4,AOD at 0.47 micron_5,AOD at 0.47 micron_6,AOD at 0.47 micron_7,...,WT52R,X5DKW,XJF9O,XNLVD,YHOPV,ZF3ZW,ZP1FZ,ZZ8JF,7F1D1,WZNCR
0,0.0,2017-01-07 16:00:00+00:00,-0.552611,0.114593,-0.116292,0.256839,-0.049796,0.242716,-0.585104,-0.107607,...,0,0,0,0,0,0,0,0,0.0,0.0
1,0.0,2017-01-07 16:00:00+00:00,-0.552611,0.114593,-0.116292,0.256839,-0.049796,0.242716,-0.585104,-0.107607,...,0,0,0,0,0,0,0,0,0.0,0.0
2,0.0,2017-01-07 16:00:00+00:00,-0.552611,0.114593,-0.116292,0.256839,-0.049796,0.242716,-0.585104,-0.107607,...,0,0,0,0,0,0,0,0,0.0,0.0
3,0.0,2017-01-07 16:00:00+00:00,-0.552611,0.114593,-0.116292,0.256839,-0.049796,0.242716,-0.585104,-0.107607,...,0,0,0,0,0,0,0,0,0.0,0.0
4,0.0,2017-01-07 16:00:00+00:00,-0.552611,0.114593,-0.116292,0.256839,-0.049796,0.242716,-0.585104,-0.107607,...,0,0,1,0,0,0,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15994,0.0,2021-06-05 18:30:00+00:00,-0.561104,0.114857,-0.115555,0.257440,-0.049277,0.244174,-0.593226,-0.107686,...,0,0,0,0,1,0,0,0,0.0,0.0
15995,0.0,2021-06-05 18:30:00+00:00,-0.561104,0.114857,-0.115555,0.257440,-0.049277,0.244174,-0.593226,-0.107686,...,0,0,0,0,0,1,0,0,0.0,0.0
15996,0.0,2021-06-05 18:30:00+00:00,-0.561104,0.114857,-0.115555,0.257440,-0.049277,0.244174,-0.593226,-0.107686,...,0,0,0,0,0,0,0,0,0.0,0.0
15997,0.0,2021-06-17 18:30:00+00:00,-0.556475,0.114697,-0.116058,0.256996,-0.049477,0.243355,-0.588765,-0.107504,...,0,0,0,0,0,0,0,0,0.0,0.0
15998,0.0,2021-04-11 18:30:00+00:00,-0.556702,0.114758,-0.116034,0.257136,-0.049515,0.243378,-0.589021,-0.107595,...,0,0,0,0,0,0,0,0,0.0,0.0

In [131]:
X_t = df_testi[df_testi.columns[2:]].values

In [132]:
X_t.shape

(15999, 2117)

In [133]:
y_t = df_testi["value"].values
# df_testi

In [115]:
import numpy as np

In [116]:
test_inderence_dataset = RegressionDataset(torch.from_numpy(X_t.astype(np.float)).float(), torch.from_numpy(y_t.astype(np.float)).float())

/tmp/ipykernel_14326/1273815802.py:1: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  test_inderence_dataset = RegressionDataset(torch.from_numpy(X_t.astype(np.float)).float(), torch.from_numpy(y_t.astype(np.float)).float())

In [262]:
test_inference_loader = DataLoader(dataset=test_inderence_dataset, batch_size=1,shuffle=False)

In [263]:
y_pred_list = []
with torch.no_grad():
    model.eval()
    for X_batch, _ in test_inderence_dataset:
        X_batch = X_batch.to(device)
        y_test_pred = model(X_batch)
        y_pred_list.append(y_test_pred.cpu().numpy())
y_pred_list = [a.squeeze().tolist() for a in y_pred_list]

In [140]:
columns_zip = df_testi[df_testi.columns[2:]].columns[-54:]

In [141]:
df_testi["value"].max()

0.0

In [142]:
columns_zip

Index(['1X116', '1Z2W7', '3S31A', '6EIL6', '7334C', '78V83', '8KNI6', '90BZ1',
       '90S79', '9Q6TA', 'A2FBI', 'A7UCQ', 'AZJ0Z', 'C7PGV', 'CPR0W', 'D72OT',
       'D7S1G', 'DHO4M', 'DJN0F', 'E2AUK', 'E5P9N', 'FRITQ', 'GAC6R', 'GJLB2',
       'GVQXS', 'H96P6', 'HANW9', 'HM74A', 'IUMEZ', 'KW43U', 'KZ9W9', 'NE7BV',
       'P8JA5', 'PG3MI', 'PJNW1', 'PW0JT', 'QJHW4', 'S77YN', 'SZLMT', 'UC74Z',
       'VBLD0', 'VR4WG', 'VXNN3', 'VYH7U', 'WT52R', 'X5DKW', 'XJF9O', 'XNLVD',
       'YHOPV', 'ZF3ZW', 'ZP1FZ', 'ZZ8JF', '7F1D1', 'WZNCR'],
      dtype='object')

In [247]:
# len(y_pred_list)
y_p

array([ 18.8997449 ,  19.58872187,  22.05317046, ...,  60.05914122,
        84.0963302 , 117.53627595])

In [248]:
df_testi["value"]

0         14.831286
1         15.798055
2         19.757606
3         15.314253
4         29.575542
            ...
15994     52.772180
15995     53.001055
15996     45.802449
15997     64.966403
15998    124.686529
Name: value, Length: 15999, dtype: float64

In [249]:
df_testi["value"]=y_p

In [250]:
df_test["value"]=y_p

In [251]:
df_test["value"]

0         18.899745
1         19.588722
2         22.053170
3         19.761412
4         40.245199
            ...
15994     72.074300
15995     72.059072
15996     60.059141
15997     84.096330
15998    117.536276
Name: value, Length: 15999, dtype: float64

In [252]:
test_labels = pd.read_csv("submission_format.csv")
# test_labels["datetime"] = pd.to_datetime(test_labels["datetime"])
test_labels

                   datetime grid_id  value
0      2017-01-07T16:00:00Z   1X116    0.0
1      2017-01-07T16:00:00Z   9Q6TA    0.0
2      2017-01-07T16:00:00Z   KW43U    0.0
3      2017-01-07T16:00:00Z   VR4WG    0.0
4      2017-01-07T16:00:00Z   XJF9O    0.0
...                     ...     ...    ...
13499  2021-08-24T08:00:00Z   QJHW4    0.0
13500  2021-08-24T08:00:00Z   VBLD0    0.0
13501  2021-08-24T08:00:00Z   WT52R    0.0
13502  2021-08-24T08:00:00Z   ZP1FZ    0.0
13503  2021-08-24T08:00:00Z   ZZ8JF    0.0

[13504 rows x 3 columns]

In [253]:
test_labels["datetime"][0]

'2017-01-07T16:00:00Z'

In [254]:
df_final = df_test#[df_test["location"]=="Delhi"]
df_final

,Unnamed: 0,datetime,grid_id,value,datetime_dt,location,date,granule_id,AOD at 0.47 micron_0,AOD at 0.47 micron_1,...,cosine of Solar Zenith Angle_246,cosine of Solar Zenith Angle_247,cosine of Solar Zenith Angle_248,cosine of Solar Zenith Angle_249,cosine of Solar Zenith Angle_250,cosine of Solar Zenith Angle_251,cosine of Solar Zenith Angle_252,cosine of Solar Zenith Angle_253,cosine of Solar Zenith Angle_254,cosine of Solar Zenith Angle_255
0,0,2017-01-07T16:00:00Z,1X116,18.899745,2017-01-07 16:00:00+00:00,Taipei,2017-01-07,20170107T032000_maiac_tpe_0.hdf,-0.552611,0.114593,...,0.514868,0.139191,0.183938,-1.667788,-0.356834,2.620512,0.295454,-0.233992,0.197363,0.768304
1,1,2017-01-07T16:00:00Z,9Q6TA,19.588722,2017-01-07 16:00:00+00:00,Taipei,2017-01-07,20170107T032000_maiac_tpe_0.hdf,-0.552611,0.114593,...,0.514868,0.139191,0.183938,-1.667788,-0.356834,2.620512,0.295454,-0.233992,0.197363,0.768304
2,2,2017-01-07T16:00:00Z,KW43U,22.053170,2017-01-07 16:00:00+00:00,Taipei,2017-01-07,20170107T032000_maiac_tpe_0.hdf,-0.552611,0.114593,...,0.514868,0.139191,0.183938,-1.667788,-0.356834,2.620512,0.295454,-0.233992,0.197363,0.768304
3,3,2017-01-07T16:00:00Z,VR4WG,19.761412,2017-01-07 16:00:00+00:00,Taipei,2017-01-07,20170107T032000_maiac_tpe_0.hdf,-0.552611,0.114593,...,0.514868,0.139191,0.183938,-1.667788,-0.356834,2.620512,0.295454,-0.233992,0.197363,0.768304
4,4,2017-01-07T16:00:00Z,XJF9O,40.245199,2017-01-07 16:00:00+00:00,Taipei,2017-01-07,20170107T032000_maiac_tpe_0.hdf,-0.552611,0.114593,...,0.514868,0.139191,0.183938,-1.667788,-0.356834,2.620512,0.295454,-0.233992,0.197363,0.768304
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15994,15994,2021-06-05T18:30:00Z,YHOPV,72.074300,2021-06-05 18:30:00+00:00,Delhi,2021-06-05,20210605T071000_maiac_dl_0.hdf,-0.561104,0.114857,...,0.282401,0.094115,0.101234,-0.598972,-0.056394,-0.085390,0.155456,0.061431,0.139627,0.156484
15995,15995,2021-06-05T18:30:00Z,ZF3ZW,72.059072,2021-06-05 18:30:00+00:00,Delhi,2021-06-05,20210605T071000_maiac_dl_0.hdf,-0.561104,0.114857,...,0.282401,0.094115,0.101234,-0.598972,-0.056394,-0.085390,0.155456,0.061431,0.139627,0.156484
15996,15996,2021-06-05T18:30:00Z,GVQXS,60.059141,2021-06-05 18:30:00+00:00,Delhi,2021-06-05,20210605T071000_maiac_dl_0.hdf,-0.561104,0.114857,...,0.282401,0.094115,0.101234,-0.598972,-0.056394,-0.085390,0.155456,0.061431,0.139627,0.156484
15997,15997,2021-06-17T18:30:00Z,A7UCQ,84.096330,2021-06-17 18:30:00+00:00,Delhi,2021-06-17,20210617T060000_maiac_dl_0.hdf,-0.556475,0.114697,...,0.364079,0.141253,0.068522,-1.220975,-0.168101,1.756613,0.158490,0.021657,0.110188,0.200711
15998,15998,2021-04-11T18:30:00Z,GJLB2,117.536276,2021-04-11 18:30:00+00:00,Delhi,2021-04-11,20210411T070500_maiac_dl_0.hdf,-0.556702,0.114758,...,0.559139,0.184912,0.162346,-2.739183,-0.605774,3.593384,0.308225,-0.423955,0.171615,1.109442

In [255]:
filtered = df_final[['grid_id','value','datetime']]

In [256]:
# filtered.columns = ['grid_id','value','datetime']

In [257]:
df_f = test_labels.merge(filtered,on=['grid_id','datetime'],how="left")

In [258]:
df_f

                   datetime grid_id  value_x    value_y
0      2017-01-07T16:00:00Z   1X116      0.0  18.899745
1      2017-01-07T16:00:00Z   1X116      0.0  18.367874
2      2017-01-07T16:00:00Z   9Q6TA      0.0  19.588722
3      2017-01-07T16:00:00Z   9Q6TA      0.0  18.483819
4      2017-01-07T16:00:00Z   KW43U      0.0  22.053170
...                     ...     ...      ...        ...
16006  2021-08-24T08:00:00Z   QJHW4      0.0        NaN
16007  2021-08-24T08:00:00Z   VBLD0      0.0        NaN
16008  2021-08-24T08:00:00Z   WT52R      0.0        NaN
16009  2021-08-24T08:00:00Z   ZP1FZ      0.0        NaN
16010  2021-08-24T08:00:00Z   ZZ8JF      0.0        NaN

[16011 rows x 4 columns]

In [259]:
dates = list(test_labels["datetime"])

In [260]:
vals = pd.read_csv("scpppi/dumbSameMonthAverage.csv")

In [261]:
filtered = filtered.groupby(["datetime","value"]).mean().reset_index()

/tmp/ipykernel_14326/1685610734.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  filtered = filtered.groupby(["datetime","value"]).mean().reset_index()

In [262]:
finals = vals.merge(df_f,on=['grid_id','datetime'],how="left")

In [263]:
finals[finals["value_y"].isna()]

                   datetime grid_id      value  value_x  value_y
15999  2021-08-24T08:00:00Z   3S31A  16.035408      0.0      NaN
16000  2021-08-24T08:00:00Z   A2FBI  16.088587      0.0      NaN
16001  2021-08-24T08:00:00Z   DHO4M  17.496875      0.0      NaN
16002  2021-08-24T08:00:00Z   DJN0F  22.894687      0.0      NaN
16003  2021-08-24T08:00:00Z   E5P9N  18.097591      0.0      NaN
16004  2021-08-24T08:00:00Z   H96P6  20.032373      0.0      NaN
16005  2021-08-24T08:00:00Z   PG3MI  21.695886      0.0      NaN
16006  2021-08-24T08:00:00Z   QJHW4  15.800317      0.0      NaN
16007  2021-08-24T08:00:00Z   VBLD0  10.834375      0.0      NaN
16008  2021-08-24T08:00:00Z   WT52R  15.986975      0.0      NaN
16009  2021-08-24T08:00:00Z   ZP1FZ  19.875870      0.0      NaN
16010  2021-08-24T08:00:00Z   ZZ8JF  12.873864      0.0      NaN

In [297]:
resi = []
for i in finals[["value","value_y"]].values:
    if(i[1]!=i[1]):
        resi.append(i[0])
    elif(i[1]<=0):
        resi.append(i[0])
    elif(i[0]>1.5*i[1]):
        resi.append(1.2/3 *i[0] + 2/3*i[1]  )
    else:
        resi.append(1/3 *i[0] + 2/3*i[1]  )

In [298]:
max(finals["value"]),max(resi)

(999.99, 468.4940574519118)

In [299]:
len(resi)

16011

In [300]:
finals["value3"] = resi

In [301]:
grdi =finals[["datetime","grid_id","value3"]]
grdi.columns = vals.columns

In [302]:
grdi.describe()

              value
count  16011.000000
mean      50.658402
std       56.560639
min        1.469940
25%       16.371755
50%       24.212222
75%       61.003702
max      468.494057

In [303]:
grdi = grdi.groupby(['datetime','grid_id']).mean().reset_index()

In [304]:
grdi.to_csv("hardwork_lgb_pure_t.csv",index=False)

In [462]:
df_f = df_f.groupby(["datetime","grid_id"]).mean().reset_index()

In [463]:
# final = df_f[df_f["datetime"].isin(dates)]

In [474]:
final.groupby(["datetime","grid_id"]).mean().reset_index()

                   datetime grid_id  value_x    value_y
0      2017-01-07T16:00:00Z   1X116      0.0  15.883646
1      2017-01-07T16:00:00Z   9Q6TA      0.0  16.128211
2      2017-01-07T16:00:00Z   KW43U      0.0  16.841695
3      2017-01-07T16:00:00Z   VR4WG      0.0  18.448220
4      2017-01-07T16:00:00Z   XJF9O      0.0  15.212121
...                     ...     ...      ...        ...
13499  2021-08-24T08:00:00Z   QJHW4      0.0        NaN
13500  2021-08-24T08:00:00Z   VBLD0      0.0        NaN
13501  2021-08-24T08:00:00Z   WT52R      0.0        NaN
13502  2021-08-24T08:00:00Z   ZP1FZ      0.0        NaN
13503  2021-08-24T08:00:00Z   ZZ8JF      0.0        NaN

[13504 rows x 4 columns]

In [465]:
test_labels.groupby(["datetime","grid_id"]).mean().reset_index()

                   datetime grid_id  value
0      2017-01-07T16:00:00Z   1X116    0.0
1      2017-01-07T16:00:00Z   9Q6TA    0.0
2      2017-01-07T16:00:00Z   KW43U    0.0
3      2017-01-07T16:00:00Z   VR4WG    0.0
4      2017-01-07T16:00:00Z   XJF9O    0.0
...                     ...     ...    ...
13499  2021-08-24T08:00:00Z   QJHW4    0.0
13500  2021-08-24T08:00:00Z   VBLD0    0.0
13501  2021-08-24T08:00:00Z   WT52R    0.0
13502  2021-08-24T08:00:00Z   ZP1FZ    0.0
13503  2021-08-24T08:00:00Z   ZZ8JF    0.0

[13504 rows x 3 columns]

In [287]:
filtered["datetime_dt"]= pd.to_datetime(filtered["datetime_dt"])

In [289]:
filtered.sort_values("datetime_dt")#.reset_index()["value"].plot()

                   datetime_dt      value
0    2017-09-11 18:30:00+00:00  27.127584
1    2017-09-11 18:30:00+00:00  30.793737
2    2017-09-11 18:30:00+00:00  31.781155
3    2017-09-12 18:30:00+00:00  47.110882
4    2017-09-13 18:30:00+00:00  27.875738
...                        ...        ...
4639 2021-07-24 18:30:00+00:00  16.941996
4638 2021-07-24 18:30:00+00:00  14.971571
4662 2021-07-24 18:30:00+00:00  32.055069
4649 2021-07-24 18:30:00+00:00  23.991646
4663 2021-07-24 18:30:00+00:00  52.160786

[4664 rows x 2 columns]

In [399]:
# y_pred_list

In [241]:
NUM_FEATURES

2117

In [56]:
class Regression(pl.LightningModule):
    
    def __init__(self,NUM_FEATURES):
        super(Regression, self).__init__()
        self.fc1 = nn.Linear(NUM_FEATURES, 1024)
        self.fc2 = nn.Linear(1024, 512)
        self.fc3 = nn.Linear(512, 256)
        self.fc4 = nn.Linear(256, 128)
        self.fc5 = nn.Linear(128, 64)
        self.f = nn.Linear(64, 1)
        self.activation = nn.LeakyReLU()
    

    def forward(self, x):
        x = self.activation(self.fc1(x))
        x = self.activation(self.fc2(x))
        x = self.activation(self.fc3(x))
        x = self.activation(self.fc4(x))
        x = self.activation(self.fc5(x))
        x = self.f(x)
        return x

In [75]:
torch.tensor(X[0]).shape

torch.Size([2117])

In [81]:
n_samples = 5

In [514]:
X.shape

(39450, 2117)

In [517]:
class SentimentNet(nn.Module):
    def __init__(self, output_size=1, embedding_dim=128, hidden_dim=8, n_layers=8, drop_prob=0.5):
        super(SentimentNet, self).__init__()
        self.output_size = output_size
        self.n_layers = n_layers
        self.hidden_dim = hidden_dim
        
       
        self.lstm = nn.LSTM(39450, hidden_dim, n_layers, dropout=drop_prob, batch_first=True)
        self.dropout = nn.Dropout(drop_prob)
        self.fc = nn.Linear(hidden_dim, output_size)
        self.sigmoid = nn.Sigmoid()
        
    def forward(self, x, hidden):
        batch_size = x.size(0)
        x = x.long()
        embeds = x
        lstm_out, hidden = self.lstm(embeds, hidden)
        lstm_out = lstm_out.contiguous().view(-1, self.hidden_dim)
        
        out = self.dropout(lstm_out)
        out = self.fc(out)
        out = self.sigmoid(out)
        
        out = out.view(batch_size, -1)
        out = out[:,-1]
        return out, hidden
    
    def init_hidden(self, batch_size):
        weight = next(self.parameters()).data
        hidden = (weight.new(self.n_layers, batch_size, self.hidden_dim).zero_().to(device),
                      weight.new(self.n_layers, batch_size, self.hidden_dim).zero_().to(device))
        return hidden

In [518]:
model = SentimentNet()

In [520]:
model.init_hidden()

TypeError: init_hidden() missing 1 required positional argument: 'batch_size'

In [519]:
X

array([[-0.56334394,  0.10990731, -0.10303362, ...,  0.        ,
         0.        ,  0.        ],
       [-0.56334394,  0.10990731, -0.10303362, ...,  0.        ,
         0.        ,  0.        ],
       [-0.56334394,  0.10990731, -0.10303362, ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [-0.5592876 ,  0.11481263, -0.1157174 , ...,  0.        ,
         0.        ,  0.        ],
       [-0.5591694 ,  0.11480556, -0.11572182, ...,  0.        ,
         0.        ,  0.        ],
       [-0.5556056 ,  0.11472411, -0.11612588, ...,  0.        ,
         0.        ,  0.        ]])

In [83]:
import torch.optim as optim
model = LSTM()
criterion = nn.MSELoss()
optimiser = optim.Adam(model.parameters(), lr=0.08)

In [84]:
torch.tensor(X[:5]).shape,y.shape

(torch.Size([5, 2117]), (39450,))

In [85]:
model(torch.tensor(X[:5]),y[:5])

NameError: name 'input_t' is not defined

In [48]:
def training_loop(n_epochs, model, optimiser, loss_fn, 
                  train_input, train_target, test_input, test_target):
    for i in range(n_epochs):
        def closure():
            optimiser.zero_grad()
            out = model(train_input)
            loss = loss_fn(out, train_target)
            loss.backward()
            return loss
        optimiser.step(closure)
        with torch.no_grad():
            future = 1000
            pred = model(test_input, future=future)
            # use all pred samples, but only go to 999
            loss = loss_fn(pred[:, :-future], test_target)
            y = pred.detach().numpy()
        # print the loss
        out = model(train_input)
        loss_print = loss_fn(out, train_target)
        print("Step: {}, Loss: {}".format(i, loss_print))

In [50]:
train_prop = 0.95
train_samples = round(N * train_prop) 
test_samples = N - train_samples

In [51]:
train_input = torch.from_numpy(y[test_samples:, :-1]) # (train_samples, L-1)
train_target = torch.from_numpy(y[test_samples:, 1:]) # (train_samples, L-1)
test_input = torch.from_numpy(y[:test_samples, :-1]) # (train_samples, L-1)
test_target = torch.from_numpy(y[:test_samples, 1:]) # (train_samples, L-1)

In [53]:
N = 100 # number of theoretical series of games
L = 11 # number of games in each series
x = np.empty((N,L), np.float32) # instantiate empty array
x[:] = np.arange(L)
y = (1.6*x + 4).astype(np.float32)

# add some noise
for i in range(len(y)):
    y[i] += np.random.normal(10, 1)

In [55]:
training_loop(n_epochs = 10,
              model = model,
              optimiser = optimiser,
              loss_fn = criterion,
              L = L,
              train_input = train_input,
              train_target = train_target,
              test_input = test_input,
              test_target = test_target)

NameError: name 'n_samples' is not defined

In [8]:
df_values = df[df.columns[8:]].values

In [9]:
df_values.shape

(39450, 2046)

In [10]:
vectors=df_values
target = df_values[0]

In [198]:
ls

 aws/
 compressed
 compressed.tar.gz
 darts_logs/
'forecasting (2).ipynb'
 gdrive*
 gdrive_2.1.1_linux_386.tar.gz
 get_models.ipynb
 handled-Copy1.ipynb
 handled-Copy2.ipynb
 handled.ipynb
 just_forcasting.ipynb
 just_forcastingprophet.ipynb
 lightning_logs/
 logs/
 lr_find_temp_model_6e5341ca-3c58-4906-86fe-1d134648bc5d.ckpt
 model_result.ipynb
 nas.ipynb
 nvtop/
 onstart.log
 onstart.sh
 pm25_satellite_metadata.csv
 pytorchforecasting.ipynb
 pytorchforecastingtransformer.ipynb
 scpppi/
 submission_format.csv
 test/
 testing_VAE.ipynb
'timeseries-Copy1 (1).ipynb'
 timeseries-Copy1.ipynb
 timeseries.ipynb
'timeseries_final (1).ipynb'
 timeseries_final.ipynb
 train/
 train_labels.csv
 zeroshot.ipynb

In [93]:
df_test = pd.read_csv("scpppi/processed_data_test.csv")

In [72]:
df_test= df_test.drop(columns=["Unnamed: 0","datetime","granule_id"])

In [73]:
df_test.head()

,grid_id,value,datetime_dt,location,date,AOD at 0.47 micron_0,AOD at 0.47 micron_1,AOD at 0.47 micron_2,AOD at 0.47 micron_3,AOD at 0.47 micron_4,...,cosine of Solar Zenith Angle_246,cosine of Solar Zenith Angle_247,cosine of Solar Zenith Angle_248,cosine of Solar Zenith Angle_249,cosine of Solar Zenith Angle_250,cosine of Solar Zenith Angle_251,cosine of Solar Zenith Angle_252,cosine of Solar Zenith Angle_253,cosine of Solar Zenith Angle_254,cosine of Solar Zenith Angle_255
0,1X116,0.0,2017-01-07 16:00:00+00:00,Taipei,2017-01-07,-0.552611,0.114593,-0.116292,0.256839,-0.049796,...,0.514868,0.139191,0.183938,-1.667788,-0.356834,2.620512,0.295454,-0.233992,0.197363,0.768304
1,9Q6TA,0.0,2017-01-07 16:00:00+00:00,Taipei,2017-01-07,-0.552611,0.114593,-0.116292,0.256839,-0.049796,...,0.514868,0.139191,0.183938,-1.667788,-0.356834,2.620512,0.295454,-0.233992,0.197363,0.768304
2,KW43U,0.0,2017-01-07 16:00:00+00:00,Taipei,2017-01-07,-0.552611,0.114593,-0.116292,0.256839,-0.049796,...,0.514868,0.139191,0.183938,-1.667788,-0.356834,2.620512,0.295454,-0.233992,0.197363,0.768304
3,VR4WG,0.0,2017-01-07 16:00:00+00:00,Taipei,2017-01-07,-0.552611,0.114593,-0.116292,0.256839,-0.049796,...,0.514868,0.139191,0.183938,-1.667788,-0.356834,2.620512,0.295454,-0.233992,0.197363,0.768304
4,XJF9O,0.0,2017-01-07 16:00:00+00:00,Taipei,2017-01-07,-0.552611,0.114593,-0.116292,0.256839,-0.049796,...,0.514868,0.139191,0.183938,-1.667788,-0.356834,2.620512,0.295454,-0.233992,0.197363,0.768304

In [15]:
# import torch
# print(torch.rand(1, device="cuda"))

In [ ]:
class LSTM(nn.Module):
    def __init__(self, hidden_layers=64):
        super(LSTM, self).__init__()
        self.hidden_layers = hidden_layers
        # lstm1, lstm2, linear are all layers in the network
        self.lstm1 = nn.LSTMCell(1, self.hidden_layers)
        self.lstm2 = nn.LSTMCell(self.hidden_layers, self.hidden_layers)
        self.linear = nn.Linear(self.hidden_layers, 1)
        
    def forward(self, y, future_preds=0):
        outputs, num_samples = [], y.size(0)
        h_t = torch.zeros(n_samples, self.hidden_layers, dtype=torch.float32)
        c_t = torch.zeros(n_samples, self.hidden_layers, dtype=torch.float32)
        h_t2 = torch.zeros(n_samples, self.hidden_layers, dtype=torch.float32)
        c_t2 = torch.zeros(n_samples, self.hidden_layers, dtype=torch.float32)
        
        for time_step in y.split(1, dim=1):
            # N, 1
            h_t, c_t = self.lstm1(input_t, (h_t, c_t)) # initial hidden and cell states
            h_t2, c_t2 = self.lstm2(h_t, (h_t2, c_t2)) # new hidden and cell states
            output = self.linear(h_t2) # output from the last FC layer
            outputs.append(output)
            
        for i in range(future_preds):
            # this only generates future predictions if we pass in future_preds>0
            # mirrors the code above, using last output/prediction as input
            h_t, c_t = self.lstm1(output, (h_t, c_t))
            h_t2, c_t2 = self.lstm2(h_t, (h_t2, c_t2))
            output = self.linear(h_t2)
            outputs.append(output)
        # transform list to tensor    
        outputs = torch.cat(outputs, dim=1)
        return outputs